<div class="slidewindow right tabs">
    
    <div class="tab-container">
        
        <div class="tab row" data-content="help">
            <div class="slidewindow_content">
                <div class="text">
                    HELP<br /><br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit quis leo sodales tincidunt nec non nisi. Quisque fermentum porta eros vel vehicula. Ut vitae viverra tortor, consectetur feugiat magna. Maecenas vel cursus nisi. Maecenas ex orci, cursus ac lorem non, aliquet maximus neque. Praesent consectetur placerat sem ut pretium. Morbi sed dignissim neque. Duis scelerisque ultrices arcu, malesuada rutrum augue posuere quis.
                </div>
            </div>
        </div>

        <div class="tab row" data-content="log">
            <div class="slidewindow_content">
                <div class="text">
                    LOG<br /><br />
                    Lorem ipsum dolor sit ametdolor sit amet. <br />
                    Lorem ipsum dolor sit ametdolor sit amet. <br />
                    Lorem ipsum dolor sit ametdolor sit amet. <br />
                    Lorem ipsum dolor sit ametdolor sit amet. <br />
                    Lorem ipsum dolor sit ametdolor sit amet. <br />
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="tab-handles">
        <div class="slidewindow_handle" data-action="help"><i class="fa fa-life-saver"></i></div>
        <div class="slidewindow_handle" data-action="log"><i class="fa fa-info-circle"></i></div>
    </div>
    
</div>




<!--
<div class="slidewindow right">
    <div class="row">
        <div class="slidewindow_content">
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut velit quis leo sodales tincidunt nec non nisi. Quisque fermentum porta eros vel vehicula. Ut vitae viverra tortor, consectetur feugiat magna. Maecenas vel cursus nisi. Maecenas ex orci, cursus ac lorem non, aliquet maximus neque. Praesent consectetur placerat sem ut pretium. Morbi sed dignissim neque. Duis scelerisque ultrices arcu, malesuada rutrum augue posuere quis.
            </div>
        </div>
        <div class="slidewindow_handle"><i class="fa fa-info-circle"></i></div>
    </div> 
</div>-->
