<div class="slidewindow left">
    <div class="row">
        <div class="slidewindow-content">
            <ul class="menu">
                {{{left_menu}}}
                <!-- <li class="options"><a href="#"><i class="fa fa-gears"></i>Configure<i class="fa fa-sort-down"></i></a>
                    <ul>
                        <li><a href="#"><i class="fa fa-th-large"></i>Partitions</a></li>
                        <li><a href="#"><i class="fa fa-expand"></i>Auto-scale Policies</a></li>
                        <li><a href="#"><i class="fa fa-road"></i>Deployment Policies</a></li>
                        <li><a href="#"><i class="fa fa-th-list"></i>Load Balancer</a></li>
                        <li><a href="#"><i class="fa fa-tasks"></i>Cartridges</a></li>
                        <li><a href="#"><i class="fa fa-sitemap"></i>Multi Tenant</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
            </ul> -->
        </div>
        <div class="slidewindow-handle"><i class="fa fa-bars"></i></div>
    </div> 
</div>