<div class="slidewindow">
    <div class="row">
        <div class="slidewindow_content">
            <ul class="menu">
                <li class="options"><a href="#"><i class="fa fa-gears"></i>Configure<i class="fa fa-sort-down"></i></a>
                    <ul>
                        <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
                        <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
                        <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
                        <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-users"></i>Users</a></li>
            </ul>
        </div>
        <div class="slidewindow_handle"><i class="fa fa-bars"></i></div>
    </div> 
</div>